<% include ../partials/header %>

  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><i style='color:#218838' class='ion-leaf'></i>Welcome To YelpCamps</h1>
        <p class="lead">View our hand-picked campgrounds from all over the world.</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-success btn-lg" href="/campgrounds/new" role="button">Add New Campground</a>
        </p>
      </div>
    </div>
    <div class="row">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-lg-3 col-md-4">
        <div class="card">
          <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
          <div class="card-body">
            <h4><a style="color:#000" href="/campgrounds/<%= campground._id %>"><%= campground.name %></a></h4>
            <p class="card-text"><%= campground.description.substring(0,25) %>...</p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-success">Read More</a>
          </div>
        </div>
      </div>
    <% }) %>
    </div>
  </div>
<% include ../partials/footer %>
